<nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm">

    <div class="container-fluid">

        <span class="navbar-brand fw-bold">
            Sistem Administrasi Klinik
        </span>

        <div class="ms-auto">

            <span class="fw-semibold">
                Administrator
            </span>

        </div>

    </div>

</nav>