<div class="sidebar bg-dark text-white vh-100">

    <div class="p-3">

        <h4>KLINIK</h4>

        <hr />

        <ul class="nav flex-column">

            <li class="nav-item mb-2">
                <a asp-controller="Dashboard" asp-action="Index" class="nav-link text-white">
                    Dashboard
                </a>
            </li>

            <li class="nav-item mb-2">
                <a asp-controller="Dokter" asp-action="Index" class="nav-link text-white">
                    Data Dokter
                </a>
            </li>

            <li class="nav-item mb-2">
                <a asp-controller="Pasien" asp-action="Index" class="nav-link text-white">
                    Data Pasien
                </a>
            </li>

            <li class="nav-item mb-2">
                <a asp-controller="Poli" asp-action="Index" class="nav-link text-white">
                    Data Poli
                </a>
            </li>

            <li class="nav-item mb-2">
                <a asp-controller="Obat" asp-action="Index" class="nav-link text-white">
                    Data Obat
                </a>
            </li>

            <li class="nav-item mb-2">
                <a asp-controller="Pendaftaran" asp-action="Index" class="nav-link text-white">

                    Pendaftaran Pasien

                </a>
            </li>

            <li class="nav-item mb-2">
                <a asp-controller="Pemeriksaan" asp-action="Index" class="nav-link text-white">

                    Pemeriksaan Pasien

                </a>
            </li>
            <li class="nav-item mb-2">
                <a asp-controller="Resep" asp-action="Index" class="nav-link text-white">

                    Resep Obat

                </a>
                <li class="nav-item">
                    <a asp-controller="Pembayaran" asp-action="Index" class="nav-link text-white">

                        Pembayaran

                    </a>
                </li>

                <li class="nav-item">
                    <a href="#" class="nav-link text-danger">
                        Logout
                    </a>
                </li>

            </ul>

        </div>

    </div>