@model ClinicAdminApp.Models.Poli

@{
    ViewData["Title"] = "Tambah Poli";
}

<div class="container mt-4">

    <div class="card shadow">

        <div class="card-header bg-primary text-white">

            <h3>Edit Data Poli</h3>

        </div>

        <div class="card-body">

            <form asp-action="Create" method="post">

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="mb-3">

                    <label asp-for="KodePoli"></label>

                    <input asp-for="KodePoli" class="form-control" />

                    <span asp-validation-for="KodePoli" class="text-danger"></span>

                </div>

                <div class="mb-3">

                    <label asp-for="NamaPoli"></label>

                    <input asp-for="NamaPoli" class="form-control" />

                    <span asp-validation-for="NamaPoli" class="text-danger"></span>

                </div>

                <div class="mb-3">

                    <label asp-for="Lokasi"></label>

                    <input asp-for="Lokasi" class="form-control" />

                </div>

                <div class="mb-3">

                    <label asp-for="Keterangan"></label>

                    <textarea asp-for="Keterangan" class="form-control"></textarea>

                </div>

                <button class="btn btn-warning">
                    Update
                </button>

                <a asp-action="Index" class="btn btn-secondary">
                    Kembali
                </a>

            </form>

            <input type="hidden" asp-for="Id" />

        </div>

    </div>

</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}